<!DOCTYPE html>
<html>
  <head>
    <title>Disco</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <script type="text/javascript">
      window.splashClouds = "<%= image_url('clouds.svg') %>";
      window.splashHeadRight = "<%= image_url('splash5.svg') %>";
      window.splashHeadLeft = "<%= image_url('splash4.svg') %>";
      window.splashImg1 = "<%= image_url('splash1.svg') %>";
      window.splashImg2 = "<%= image_url('splash2.svg') %>";
      window.splashImg3 = "<%= image_url('splash3.svg') %>";
      window.splashImg4 = "<%= image_url('splash6.svg') %>";
      window.formBackground = "<%= image_url('background.png') %>";
      window.private = "<%= image_url('private.svg') %>";
      window.public = "<%= image_url('public.svg') %>";
    </script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
  </head>

  <body>
    <%= yield %>
  </body>
</html>
